<!DOCTYPE html>
{% extends 'passport_nav.html' %}

{% block passport_content %}
{% if message %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{message}}</h4>
</div>
{% endif %}
<form action="{% url 'passport_organization:passport_index' %}" method="POST" style="padding-top:20px;">
 <div class="form-group form_field">
    <h3>ID:</h3><br>
    <input type="text" class="form-control" name="id" placeholder="ID.."><br>
    <h3>Finger Print:</h3><br>
    <input type="text" class="form-control" name="fingerprint" {% if fingerprint%} value="{{fingerprint}}" {% else %} value="" {%endif%} required placeholder="finger print">
  </div>
    <a href="{% url 'passport_organization:passport_finger_print' %}" class="btn btn-info" style="margin-left: 970px; margin-top: -98px;">Start Process</a>

    {% csrf_token %}
  <button type="submit" class="btn btn-success" style="margin-left:150px;">Submit</button>
</form>
{% endblock %}