<!DOCTYPE html>
{% extends 'nav.html' %}

{% block content %}
{% if success %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{success}}</h4>
</div>
{% endif %}
<form action="#" method="#" style="padding-top:20px;">
<div class="form-group form_field">
    <b>First Name</b>
    <input type="text" class="form-control" name="firstname" required>
</div>

<div class="form-group form_field">
    <b>Last Name</b>
    <input type="text" class="form-control" name="lastname" required>
</div>

<div class="form-group form_field">
    <b>Father Name</b>
    <input type="text" class="form-control" name="fathername" required>
</div>

<div class="form-group form_field">
    <b>Mother Name</b>
    <input type="text" class="form-control" name="mothername" required>
</div>

<div class="form-group form_field">
    <b>Date Of Birth</b>
    <input type="date" class="form-control" name="dob" required>
</div>

<div class="form-group form_field">
    <b>Address</b>
    <textarea class="form-control" name="address" required></textarea>
</div>

 <div class="form-group form_field">
    <b>Finger_Print</b>
    <input type="text" class="form-control" name="fingerprint" value="{{a}}" required>
  </div>

<div class="form-group form_field">
  <b>Gender</b>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" value="male" required>
    <label class="form-check-label">Male</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" value="Female" required>
    <label class="form-check-label">Female</label>
  </div>
   <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" value="others" required>
    <label class="form-check-label">Others</label>
  </div>
</div>

<div class="form-group form_field">
    <b>Blood Group</b>
    <select class="custom-select" name="bloodgroup">
        <option selected>Choose...</option>
        <option value="A+">A+</option>
        <option value="B+">B+</option>
        <option value="AB+">AB+</option>
        <option value="O+">O+</option>
    </select>
</div>

{% csrf_token %}
  <button type="submit" class="btn btn-success" style="margin-left:150px;">Submit</button>
</form>
{% endblock %}